body
{
 	background-color: #e9ebee!important;
}
.h1, .h2, .h3, .h4, .h5, .h6 {
    color: #00547b!important;
}
.unlike_viewpage a {
    color: #00547b!important;
}
.joinleave_viewgroup a {
    color: #00547b!important;
}
.author-thumb a {
    color: #00547b!important;
    
}
.fixed-sidebar .search-friend svg:hover {
    fill:  #00547b!important;
}
.fixed-sidebar .search-friend svg:hover {
    fill:  #00547b!important;
}
.header .logo_name{
    padding: 5px 50px 26px 100px!important;
}
.accept-request
{
	background-color:#51ba52!important;
}
.request-del {
    background-color: #bf2a2a!important;
}
.bg-yellow-noti
{
	background-color:#FFC600!important;
}

.icon-status.online {
    background-color: #78FF00!important;
}
.mCustomScrollbar .dash_left_icon
{
	padding: 40px 0px 40px 0px;
}
.dash_left_icon svg
{
	width: 25px!important;
}
/*.dash_left_icon a:hover svg {
	fill: #d21616!important;
}*/
.author_nm
{
	color:#00547b!important;
	font-size:15px!important;
	font-weight:600!important;
}
.btn-green {
    background-color: #00547b!important;
}

.hm_see_all
{
	font-size: 12px!important;
    float: right!important;
    color: #00547b!important;
}

.sticky_area
{
	position: -webkit-sticky;
    position: sticky;
    margin-bottom: 10px;
    top: 70px;
}
.sticky_area_timeline
{
	position: -webkit-sticky;
    position: sticky;
    margin-bottom: 10px;
    top: 70px;
}

.ui-block-title .title
{
	font-size:15px!important;
}
.ui-block-title .top_right_account_nm
{
	font-size:10px!important;
}

.w-friend-pages-added .notification-friend {
    font-size: 14px!important;
}
.w-friend-pages-added .chat-message-item {
    color: black!important;
}
.header
{
	background-color:#00547b!important;
}
.more-dropdown a:hover {
    color: #00547b!important;
}

.pull-right a
{
	 color: #00547b!important;
	
}
.w-personal-info .text a
{
	 color: #00547b!important;
}
.btn-primary {
   
    background-color: #00547b!important;
}
.btn-primary:hover {
    background-color: #494c62!important;
}

.news-feed-form .nav-tabs .nav-link.active {
    fill: #00547b!important;
    color: #00547b!important;
}

.news-feed-form .nav-link {
    fill: #00547b!important;
    color: #00547b!important;
}

.form-control:focus {
   
    border-color: #00547b!important;
}
.control-block .author-subtitle {
	color: #fff!important;
}

.search-bar.w-search {
	background-color: #00547b!important;
	

}
.search-bar .form-group.with-button input {
	border:1px solid #00547b!important;
	border-radius:0!important;
	
}

.search-bar .form-group.with-button button {
    color: #00547b!important;
    fill: #00547b!important;
    background-color: #fafbfd!important;
    border: 1px solid #00547b!important;
    border-left: none!important;
}
.w-search .form-group {
    height: 36px!important;
    margin-top: 10px!important;
	background-color: #fff!important;
}
.post-add-icon {
  	fill: #6c6c6d!important;
    color: #6c6c6d!important;
    font-size: 14px!important;
    font-weight: 500!important;
}

.post-add-icon-comment {
  	fill: #6c6c6d!important;
    color: #6c6c6d!important;
    font-size: 12px!important; 
    font-weight: 500!important;
}

.post-add-icon-reply {
  	fill: #6c6c6d!important;
    color: #6c6c6d!important;
    font-size: 12px!important; 
    font-weight: 500!important;
}

.post-add-icon-comment i
{
	font-size:13px!important;
	font-weight:600!important;
}
.post-add-icon-reply i
{
	font-size:13px!important;
	font-weight:600!important;
}
#who-likes-popover
{
	color: #6c6c6d!important;
    font-size: 14px!important;
    font-weight: 500!important;
}

#do_unlike_post i {
  
    color: #00547b!important;
}


#do_unlike_comment i
{
	color: #00547b!important;
}
.post p
{
	font-size: 14px !important;
}
.comment_txt_cls
{
	width: 90%;
	padding: 8px 12px;
	background-color: #eff1f3;
	border-radius: 18px;
	color: #000000;
	font-size: 13px !important;
}
.comment_reply_txt_cls
{
	width: 89%;
	padding: 8px 12px;
	background-color: #eff1f3;
	border-radius: 16px;
	color: #000000;
	font-size: 13px !important;
}
.comment_txt_cls p
{
    margin-bottom: 2px;
}
.comment_txt_cls blockquote
{
    margin-bottom: 4px !important;
    margin-top: 6px !important;
    background-color: rgba(77,54,43,0.04) !important;
}

.post_time
{
	color: #6c6c6d!important;
	font-size: 0.812rem;
	font-weight: normal!important;
}

.add-options-message .options-message {
    color: #9a9a9b!important;
    fill: #9a9a9b!important;
}
.post_comment_box
{
	border-radius:20px!important;
}
#reply_on_cmnt
{
	border-radius:20px!important;
}

.control-block-button .bg-primary {
    background-color: #00547b !important;
}
#accept_join_req {
	background-color: #00547b !important;
}

#group_request_send
{
	background-color: #00547b !important;
}

/*notication green popup*/
.brighttheme.ui-pnotify-container {
    padding: 10px!important;
}
.ui-pnotify-text
{
	line-height:0.8!important;
	    margin-bottom: 10px!important;
}
.bootstrap-select li.selected a {
    background: #00547b!important;
}
.your-profile-menu li a {
    font-size: 14px!important;
}
.radio label .check {
 background-color: #00547b!important;
}
.radio input[type=radio]:checked ~ .circle {
    border-color: #00547b!important;
}
.radio input[type=radio]:checked ~ .check {
    background-color: #00547b!important;
}


/*mobile css*/

.mobile-app-tabs {
    background-color: #00547b!important;
}

.olympus-chat {
    background-color: #00547b!important;
}

.mobile-app-tabs svg {
    fill: #ffff!important;
}

